<fieldset class="scheduler-border">
    <legend class="scheduler-border">Format</legend>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.format) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.style) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.name) }}
        </div>
    </div>
</fieldset>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Couleurs</legend>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.color) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.colorBackground) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.size) }}
        </div>
    </div>
</fieldset>

<div class="row">
    <div class="col-md-3">
        {{ form_row(form.labelText) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.labelColor) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.labelSize) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.labelAlignment) }}
    </div>
</div>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Joindre une image</legend>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            {{ form_row(form.addDefaultLogo) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.logo) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.logoSize) }}
        </div>
    </div>
</fieldset>